.reserve-item{
    background: white;
    color: rgb(51, 51, 51);
    width: 80%;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1px;
}

.reserve-item button{
    border: none;
    background-color: rgb(0, 73, 30);
    color: white;
    height: 35px;
    margin: 2px;
    cursor: pointer;
}

.reserve-name-item{
    width: 400px;
    overflow: hidden;
    padding: 5px;
}

.alert-item-reserve{
    position: absolute;
    width: 80%;
    height: 2vh;
    height: 35px;
    background-color: rgba(223, 66, 66, 0.733);
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 2s;
}

.alert-item-reserve .active{
    transition: 2s;
    opacity: 0;
}

@media only screen and (max-width: 700px) {
    .reserve-item{
        width: 90%;
        min-height: 85px;
        overflow: hidden;
        overflow-y: auto;
        margin-top: 2px;
    }
    .reserve-item button{
        min-height: 80px;
    }
    #btns-reserve-style{
        display: flex;
    }
    .display-item-saldo-reserve{
        font-size: 15pt;
        font-weight: 700;
        color: rgb(0, 126, 0);
    }
    .alert-item-reserve{
        width: 90%;
        min-height: 80px;
        backdrop-filter: blur(12px);
    }
}